<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}beWeb{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css.map') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/master.css') }}">

        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>


        {% block stylesheets %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav id="mainmenu" class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
            <a type="button" class="btn"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a type="button" class="btn"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
            <a type="button" class="btn"><i class="fa fa-certificate" aria-hidden="true"></i></a>
            <a type="button" class="btn"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
            <a type="button" class="btn"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
            <a type="button" class="btn"><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
            <a type="button" class="btn" id="action"><i class="fa fa-key" aria-hidden="true"></i></a>
            {% block nav %}{% endblock %}
        </nav>
        <div id="#loginResponse">

        </div>
        {% block connection %}
            <script>
                $(document).ready(function(){
                        $("#action").click(function(){
                        $("#panellogin").slideToggle("slow");
                    });
                });
            </script>

            <div id="panellogin">
                <form>
                    <em>Connexion utilisateur. En cas de succès, renvoie l'id sessions.<br>
                    Utilisateur de test : text@test.com / 123456</em><br><br>
                    <div id="loginResponse"></div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Mots de passe</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">se souvenir</label>
                    </div>
                    <button type="button" class="btn btn-default">Valider</button>
                </form>
            </div>
            <script>
                // $(document).ready(function(){
                //     $("button").click(function(){
                //         var email = $("#email").val();
                //         var pwd = $("#pwd").val();
                //     });
                // });
            </script>
            <script>
                $("#panellogin button").click(function() {
                    var api_url = "http://api.beweb.local";
                    $.ajax({
                        type:"POST",
                        url: api_url + "/?" + "4DECDA07CEE9" + "/User/Login/",
                        dataType:"json",
                        data : {
                            email: $("#email").val(),
                            pwd: $("#pwd").val()
                        },
                        success: function(response) {
                            $("#loginResponse").html('<div class="alert alert-success" role="alert">Succès ! ID Session : ' + response.message + '</div>');
                        },
                        error: function(xhr) {
                            var response =  JSON.parse(xhr.responseText);
                            $("#loginResponse").html('<div class="alert alert-danger" role="alert">' + response.error + '</div>');
                        }
                    });
                });
            </script>
            <script>
                // var url ="http://api.beweb.local";
                // $(document).ready(function(){
                //     $("#button").click(function(){
                //         $.ajax({
                //             type: "POST",
                //             url: url + "/?" + "/User/" + sid ,
                //             dataType: 'json',
                //             data: {
                //                 var email = $("#email").val(),
                //                 var pwd = $("#pwd").val(),
                //                 var sid = $("#sessionId").val()
                //             },
                //             success: function(){
                //                 alert("GG");
                //             },
                //             error: function() {
                //                 alert("fromage");
                //             }
                //         });
                //     });
                // });
            </script>
        {% endblock %}
        {% block body %}{% endblock %}

        <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
